/* variables */
:root {
  --primary: #ff2d50;
  --secondary: #0a0b5b;
  --bg-light: #f5f5f5;
  --darkColor: #424141;
}

/* reset */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

/* base styles */
section,
footer {
  padding: 4rem;
}

.button {
  background-color: #ffffff;
  font-size: 0.8rem;
  line-height: 78px;
  font-weight: 400;
  color: var(--darkColor);
  border-radius: 100px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-width: 0px;
  padding: 25px 58px;
}

.button:hover {
  background-color: var(--darkColor);
  color: white;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr 1fr;
}

/* fonts */
body {
  font-family: "Catamaran", sans-serif;
}

h1,
h2,
h4,
h5 {
  line-height: 2rem;
  color: var(--darkColor);
}

p {
  color: #777777;
  font-size: 17px;
  line-height: 28px;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

/*Header*/

header {
  background-image: url("img/parallax.jpg");
  height: 100vh;
  background-position: 50% 0px;
  background-attachment: fixed;
  padding: 2rem 4rem;
  position: relative;
  max-width: 100%;
}

nav {
  height: 60px;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 1.5rem;
  transition: background-color 0.5s ease;
}

.logo {
  font-size: 4rem;
  margin: 2rem 0 0 0;
  color: #fff;
  justify-self: start;
}

.mobile-bar {
  color: #fff;
  font-size: 40px;
  justify-self: end;
  display: none;
}

.exit {
  display: none;
}

.nav-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  position: relative;
  left: 170px
}

.nav-title ul {
  display: flex;
  padding: 0 2rem 0 0;
}

.nav-title li {
  padding: 0 1rem;
}

.nav-title a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/*Social-media icons*/
.social-media {
  display: flex;
  flex-direction: row;
}

.social-media a {
  font-size: 15px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-color: white;
  padding: 0.2rem;
  margin: 0 0.2rem;
  text-align: center;
}

.fa-facebook-f {
  color: darkblue;
}

.fa-twitter {
  color: deepskyblue;
}

.fa-instagram-square {
  color: deeppink;
}

.scrolling-active {
  background-color: #000;
}

.scrolling-active a {
  color: #fff;
}

.scrolling-active .logo {
  font-size: 3rem;
  margin-top: 10px;
}



.banner-content {
  width: 70%;
  margin: 0;
}

.title {
  color: #fff;
  font-size: 7rem;
  font-weight: 900;
  padding-top: 3rem;
}

.title span {
  display: block;
  margin-bottom: 5rem;
}

header h4 {
  color: #fff;
  margin-bottom: 2rem;
}

/*features*/
#features {
  position: relative;
  background-color: #fff;
  height: auto;
  margin-bottom: 3rem;
  transform: skew(0deg, -6deg);
}

#features::before {
  background-color: #fff;
  position: absolute;
  content: "";
  height: 100px;
  width: 100%;
  top: -100px;
  left: 0;
  z-index: -1;
  transform: skew(0deg, 2deg);
}

.features-top {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -2rem;
  margin-bottom: 2rem;
  z-index: 1000;
}

.features-top,
.features-bottom {
  transform: skew(0deg, 6deg);
}

.features-top-content h4 {
  margin: 0;
}

.features-top-icons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.features-top-content p {
  line-height: 1.5rem;
}

.features-top-icons .fas {
  font-size: 120px;
  padding: 2rem;
  border-radius: 20px;
  color: #fff;
}

.fa-headphones {
  background: linear-gradient(45deg, #eecda3, #ef629f);
}

.fa-arrows-alt {
  background: linear-gradient(180deg, #cc2b5e, #753a88);
}

.fa-globe {
  background: linear-gradient(180deg, #ff512f, #dd2476);
}

.features-bottom {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.icon-content {
  padding: 1rem 0;
  text-align: left;
}

.icon-content h5 {
  margin-bottom: 1rem;
}

.icon {
  font-size: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-left: 0.8rem;
  margin-bottom: 2rem;
  margin-top: 25px;
}

.mixcloud {
  background: #aac2ca;
}

.mixcloud:hover {
  background: #839196;
}

.map {
  background: #deb5b4;
}

.map:hover {
  background: #ac8d8d;
}

.lightbulb {
  background: #a08c97;
}

.lightbulb:hover {
  background: #8d8087;
}

.bluetooth {
  background: #5f8085;
}

.bluetooth:hover {
  background: #4d6468;
}

/*Design*/
#design {
  background-color: var(--bg-light);
  height: 70vh;
  transform: skew(0deg, -6deg);
}

.design {
  transform: skew(0deg, 6deg);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.design-img {
  width: 49%;
}

.design-img img {
  vertical-align: top;
  max-height: auto;
  width: auto;
  margin-top: -3rem;
  width: 100%;
}

.design-content {
  margin-top: 0;
  width: 49%;
  margin-top: -3rem;
}

.design-content h2 {
  margin-bottom: 3rem;
}

.design-content h4 {
  margin-bottom: 3rem;
}

/*Reviews*/
#reviews {
  background-color: #31202f;
  position: relative;
  height: 80vh;
  text-align: center;
  background: #31202f;
  padding: 6rem 2rem 2rem;
  transform: skew(0deg, -6deg);
}

.reviews {
  width: 60%;
  margin: 0 auto;
  padding-top: 5rem;
  transform: skew(0deg, 6deg);
}

.reviews h4,
.reviews p {
  color: #fff;
}

.reviews p {
  font-size: 25px;
}

.reviews i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 20px;
  padding: 1.5rem;
  text-align: center;
  color: #fff;
}

/*Why-US*/
#why-us {
  background-color: #fff;
  position: relative;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  transform: skew(0deg, -6deg);
}

#why-us img {
  width: 100%;
  transform: skew(0deg, 6deg);
}

.why-us-content {
  margin-top: 2rem;
  transform: skew(0deg, 6deg);
}

/*Awards*/
#awards {
  background-color: var(--bg-light);
  position: relative;
  height: 70vh;
}

#awards::before {
  background-color: var(--bg-light);
  position: absolute;
  content: "";
  height: 150px;
  width: 100%;
  top: -70px;
  z-index: 10;
  transform: skew(0deg, -6deg);
}

#awards:after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 170px;
  width: 100%;
  top: 75%;
  z-index: 10;
}

#awards h5 {
  margin: 0;
}

.grid2 {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.awards-block1,
.awards-block2,
.awards-block3 {
  font-size: 80px;
  text-align: center;
  padding: 1.5rem 2rem;
  height: 250px;
  border-radius: 10px;
  z-index: 11;
  background-color: #fff;
  margin-top: 10rem;
}

.awards-block1 {
  box-shadow: 0 10px 60px 0px #7fe7c6;
}

.awards-block2 {
  box-shadow: 0 10px 60px 0px #076cf0;
}

.awards-block3 {
  box-shadow: 0 10px 60px 0px #dd2476;
}

/*Footer*/
#contact {
  background-color: #000;
  padding-bottom: 4rem;
}

#contact h2 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  position: relative;
}

#contact h2::before {
  content: "";
  width: 2px;
  height: 3rem;
  background-color: var(--primary);
  position: absolute;
  left: -30px;
  top: -10px;
}

#contact h5 {
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-left: 4rem;
}

#name,
#email,
#phone,
#message {
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  margin: 5px 30px;
  font-size: 1.2rem;
  color: #fff;
  padding: 15px;
  outline: 0;
  line-height: 17px;
}

#message {
  display: block;
  width: 70%;
  margin-bottom: 30px;
}

.submit {
  padding: 0.8rem 4rem;
  border-radius: 40px;
  margin-left: 30px;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  border: none;
  transition: 0.5s ease;
}

.submit:hover {
  background-color: #fff;
  color: var(--primary);
}


@media screen and (max-width:1024px) {

  .features-top-content h4 {
    font-size: 1.5rem;
  }

  .features-top-content p {
    font-size: 16px
  }

  #design {
    height: 50vh;
  }

  #reviews {
    padding: 0;
  }

  #why-us {
    height: 70vh;
  }

  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .exit {
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-top: -3rem;
  }

  .nav-title {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-self: center;
    margin-right: 0;
    background-color: rgba(63, 58, 58, 0.548);
    width: 60%;
    height: 100%;
    text-align: left;
    padding-top: 2rem;
  }

  .nav-title ul {
    flex-direction: column;
    padding: 0;
  }

  .nav-title li {
    padding: 1rem 2rem;
    display: block;
  }

  .nav-title a {
    font-size: 1.2rem;
  }

  .mobile-bar {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  section,
  footer,
  header {
    padding: 2rem 3rem;
  }

  .title {

    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .title span {
    margin-bottom: 3rem;
  }

  #features {
    padding: 2rem 0;
    height: auto;
  }

  .features-top {
    grid-template-columns: 1fr;
  }

  .features-top-content {
    padding: 2rem 3rem;
  }

  .features-bottom {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
  }

  .features-top-icons {
    grid-gap: 10px;
  }

  .features-top-icons .fas {
    font-size: 6rem;
  }

  #design {
    height: auto;
  }

  .design {
    display: block;
    align-items: center;
  }

  .design-img {
    margin-bottom: 5rem;
    width: 100%;
  }

  .design-img img {
    width: 60%;
    margin: -3rem auto 0 auto;
    display: block;
  }

  .design-content {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
  }

  #reviews {
    height: auto;
  }

  .reviews {
    padding: 4rem 0;
  }

  #why-us {
    grid-template-columns: 1fr;
    height: auto;
  }

  #why-us img {
    width: 70%;
    margin: 0 auto;
  }

  .why-us-content {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .why-us-content p,
  .why-us-content h2 {
    padding-top: 0;
  }

  #awards {
    height: auto;
  }

  .grid2 {
    grid-template-columns: 1fr;
  }

  #awards:after {
    height: 150px;
    width: 100%;
    top: 90%;
    z-index: 10;
  }

  .awards-block1,
  .awards-block2,
  .awards-block3 {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {

  section,
  footer,
  header {
    padding: 2rem 1rem;
  }

  .logo {
    font-size: 5rem;
  }

  nav {
    padding: 0.5rem 1rem;
  }

  .title {
    font-size: 4rem;
  }

  header h4 {
    font-size: 1.5rem
  }

  .banner-content {
    width: 70%;
  }

  .button {
    font-size: 0.8rem;
    padding: 25px;
  }

  .features-top-content {
    padding: 2rem 1rem;
  }


  .features-top-icons {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .features-top-icons .fas {
    font-size: 250px;
    padding: 2rem;

  }

  .features-bottom {
    grid-template-columns: 1fr;
    margin-top: 4rem;
    padding: 2rem 1rem;
  }

}